.mapanddes{
    display: flex;
    justify-content: center;
    align-items: start;    
    margin:5px;
    gap:20px;
}

.leaflet-container {
    height: 500px; 
    width: 600px; 
    background-color: #61dafb;
    overflow: hidden;
}
.details-container {
    width: 400px; 
    margin-left: 0px; 
    padding-top: 5px;
    min-height: 100px; 
    gap:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(89,89,54,0.3);
    border-radius: 4px;
}

.details-container img {
    width: 300px; 
    height: auto; 
}

@media (max-width:600px){
    .mapanddes{
       flex-direction: column;
        justify-content: center;
        align-items: start;    
        margin:5px;
        gap:20px;
    }    
    .leaflet-container {
        height:250px; 
        width: 300px; 
        margin:auto;
        background-color: #61dafb;
        overflow: hidden;
    }
    .details-container {
        width: 300px; 
        margin:auto;
    }
    .details-container img{
        width:250px;
    }   
}
