.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #f5EBB8;
  }
.main-menu {
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    color:#2B3121;
    gap: 10px;    
  }
.main-menu li {
    transition: background-color 0.3s ease;
    transition: font-weight 0.3s ease;
    padding: 12px 20px;
    position: relative; 
    font-size: larger;
  }
.main-menu li:hover{
    background-color: #EBBF1B;
  } 
.main-menu li a {
    text-decoration: none;
    color: #2B3121;

}
.subpage {
    position: relative; /* This is needed to position the submenu absolutely with respect to the subpage */
    width: 150px;
    line-height: 20px;
    font-weight:normal;
  }  
.subpage:hover{
    font-weight: bold;
    background-color: #EBBF1B;
}
.subpage:hover .sub-menu {
    display: flex; 
}
.sub-menu {
    display: none; 
    font-size: medium;
    font-weight: normal;
    list-style-type:none;
    position: absolute; /* Position the sub-menu directly below the main menu item */
    left: 0;
    top: 100%;
    background-color: #f5EBB8;
    width: 100%; /* Set the width of the sub-menu */
    flex-direction: column; /* Stack submenu items vertically */
    padding: 0; /* Reset padding */
  } 
.sub-menu li {
    color: #2B3121; 
  }
.sub-menu li:last-child {
    border-bottom: none;
  }
.sub-menu li a {
    color: #595936; 
    font-weight: normal;
    display: block; /* Ensure the full area is clickable */
    text-decoration: none; 
    padding: 10px;
  }
.sub-menu li a:hover {
    color:#2B3121;
    font-weight: bold;
  }
  