
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&display=swap');

.menu-container {
    font-family:'IBM Plex Sans JP', sans-serif;
    display: flex;
    align-items:baseline;
    justify-content: space-around;
    background-color: #f5EBB8;
    padding: 10px;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    transition: opacity 0.5s linear;}

.menu-container.hide {
        opacity: 0;
}
      
.menu-container.hide:hover {
        opacity: 1;
}
  
.main-menu:hover{
    height: 250px; 
    /* change the height here to adapt to media */
}
.main-menu {
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    color:#2B3121;
    gap: 10px;    
  }
.main-menu li {
    transition: background-color 0.3s ease;
    transition: font-weight 0.3s ease;
    position: relative; 
    font-size: larger;
  }
.main-menu li:hover{
    background-color: #EBBF1B;
  } 
.main-menu li a {
    text-decoration: none;
    color: #2B3121;
}
.subpage {
    position: absolute; 
    width: 150px;
    line-height: 20px;  
    padding:15px;
    text-align:center;
}  
.subpage:hover{
    font-weight: bold;
    background-color: #EBBF1B;
}
.main-menu:hover .sub-menu {
    display: flex; 
}
.sub-menu {
    display: none; 
    font-size: medium;
    font-weight: normal;
    list-style-type:none; 
    left: 0;
    top: 100%;
    width: 100%; /* Set the width of the sub-menu */
    flex-direction: column; /* Stack submenu items vertically */
    padding: 20px 0; 
} 
.sub-menu li:last-child {
    border-bottom: none;
  }
.sub-menu li a {
    font-weight: normal;
    display: block; 
    color:#595936;
    text-decoration: none; 
    padding: 15px 0;
  }
.sub-menu li a:hover {
    color:#2B3121;
    font-weight: bold;
  }

  @media (max-width: 700px) {
    .menu-container {
      flex-direction: column;
      align-items: flex-start; 
    }
    .menu-container:hover{
        height:auto;
    }
    .main-menu {
      flex-direction: column; 
      align-items: flex-start; 
      gap: 5px; 
    }

    .main-menu li {
      font-size: medium; 
      padding: 10px; 
    }
    .subpage {
      width: 100%; 
      padding: 10px; 
      position: static; 
      text-align: left; 
    }
    .menu-container .main-menu .subpage .sub-menu {
        display: none;
      }
  }
  @media (hover: hover) {
    .hover-area {
      display: block; /* Make the hover area visible (but still invisible visually) on devices that support hover */
    }
  
    .hover-area:hover + .menu-container.hide {
      display: flex; /* Or your original display type */
    }
  }
  /* QUESTION ABOUT MEDIA: how to make this into a onclick event for mobile */