  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&display=swap');
/* *{
  background-color: #F5EBB8;
} */
.placeholder{
  background-color:#F5EBB8;
  width: 100%;
  height:70px;
  padding: 10px;
}
.divider{
  padding:20px;
}
.textholder{
  font-family:'IBM Plex Sans JP', sans-serif;
  background-color: #F5EBB8;
}
.title{
  font-size: 48px;
  font-weight: 700;
  text-transform:uppercase;
  color: #2b3121;
  background-color: #ebbf1e;
  padding:20px;
  text-align: center;
}
.title:hover{
  color:#F5EBB8;
  background-color: #595936;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.subtitle{
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgba(235, 191, 30,0.5);
  color:#595936;
  padding:10px;
  padding-left: 30px;
  text-align: center;
}
.subtitle:hover{
  background-color: rgba(235, 191, 30,1);
  color:#2b3121;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.subtitleimg{
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgba(235, 191, 30,0.5);
  color:#595936;
  padding:10px;
  padding-left: 30px;
  text-align: center;
}

.subtitleimg:hover{
  background-color: rgba(235, 191, 30,1);
  transition: background-color 0.3s ease;
}

.body {
  font-size: 20px;
  font-weight: 500;
  color: #2b3121;
  border-color: rgba(89, 89, 54, 0.5);
  /* background-color: rgba(89, 89, 54, 0.2); */
  flex-grow: 1;
  padding: 20px;
  padding-left: 30px;
  padding-top: 30px;
  /* min-height: 50vh;  */
}

.image-reveal-section {
  height: 400px; /* Adjust the height as needed */
  background-size:cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Hide initially */
}

.image-reveal-section.show {
  background-attachment: fixed;
  opacity: 1; /* Show when in viewport */
}

.description{
  background-color: rgba(89, 89, 54, 0.3);
  color:#ebbf1e;
  text-align: center;
}

@media (max-width: 600px) {
.placeholder{
  height:240px;
}
.title{
  font-size: 36px;
}
.subtitleimg{
  font-size: 24px;
  padding:5px;
  padding-left: 25px;
}
.body{
  font-size: 12px;
  padding:9px;  
  padding-left: 15px;
  padding-right: 15px;
}
}

