
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.placeholder{
  background-color:#F5EBB8;
  width: 100%;
  height:80px;
  padding: 0px;
}
.divider{
  padding:20px;
}
.textholder{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #F5EBB8;
}
.title{
  font-size: 48px;
  font-weight: 700;
  text-transform:uppercase;
  color: #2b3121;
  background-color: #ebbf1e;
  padding:20px;
  text-align: center;
}
.title:hover{
  color:#F5EBB8;
  background-color: #595936;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.floatingtitle{
  font-size: 48px;
  font-weight: 700;
  text-transform:uppercase;
  color: #2b3121;
  text-align:center;
  display:block;
  padding: 10px;
  text-shadow: 0 0 10px rgba(137, 250, 149, 0.8);
  padding-top: 10%;
}
.floatingtitle:hover{
  text-shadow: 0 0 20px rgba(137, 250, 149, 0.8);
  font-size: 52px;
  transition: text-shadow 0.7s ease;
  transition: font-size 0.6s ease;
}
.subtitle{
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgba(235, 191, 30);
  color:#595936;
  padding:10px;
  padding-left: 30px;
  text-align: center;
}
.subtitleimg{
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgba(235, 191, 30,0.7);
  color:#595936;
  padding:10px;
  padding-left: 30px;
  text-align: center;
}
.subtitleimg:hover{
  background-color: rgba(235, 191, 30,1);
  transition: background-color 0.3s ease;
}

.floatingsubtitle{
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color:#2b3121;
  text-shadow: 0 0 10px rgba(137, 250, 149, 0.8);
  padding:10px;
  padding-left: 30px;
  text-align: center;
}
.floatingsubtitle:hover{
  font-size:33px;
  transition:font-size 0.6s ease;
}

.body {
  font-size: 20px;
  font-weight: 500;
  color: #2b3121;
  border-color: rgba(89, 89, 54, 0.5);
  /* background-color: rgba(89, 89, 54, 0.2); */
  flex-grow: 1;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  /* min-height: 50vh;  */
}
.floatingbody{
  font-size: 18px;
  font-weight: 500;
  color: #F5EBB81A;
  border-color: rgba(89, 89, 54, 0.5);
  background-color: rgba(89, 89, 54, 0.2);
  flex-grow: 1;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.floatingbody:hover{
  color: #F5EBB8;
  background-color: rgba(89, 89, 54, 0.8);
}

.highlight {
  font-weight: 800;  
  padding:1px;
  border-style: none;
  border-radius: 4px;
}

.body a {
  color:#89fa95;
  text-decoration:underline;
  text-decoration-color: #329a5d;
}
.body a:visited {
  color:#595936;
}

.image-reveal-section {
  height: 400px; /* Adjust the height as needed */
  background-size:cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Hide initially */
}

.image-reveal-section.show {
  background-attachment: fixed;
  opacity: 1; /* Show when in viewport */
}

.imageintext{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 500px; 
  width: 100%;
  padding: 10px;
}
.imageintext img {
  max-width: 100%;
  height: auto;
  display: block; 
}

.fixed-background {
  background-image: url('./Images/totkimg1.jpeg'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
.email{
  color:#89fa95;
  background-color: #595936;
  padding: 5px;
  display: flex;
  justify-content: center; 
  text-decoration: none;
}
.clickicon{
  position: absolute;
  bottom: 0;
  margin: auto; 
  left:0;
  right:0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

.icon {
  max-width: 40px;
  transition: transform 0.3s;
  margin: auto;
}

.icon.rotated {
  transform-origin: center;
  transform: rotate(180deg); 
}

.click-message {
  display: inline; 
  font-size: 16px;
  color: #595936;
  background-color: #89fa95;
  padding: 4px; 
  margin: 10px;
  border-style: hidden;
  border-radius: 4px; 
}
.button1 {
  display: inline-block;
  background-color: #329a5d;
  color: #F5ebb8;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  position:absolute;
  margin-top:10px;
  bottom:5px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none; /* Removes underline from links */
  text-align: center;
  transition: background-color 0.3s;
}

.button1:hover {
  background-color: #89fa95;
}



@media (max-width: 600px) {
    .placeholder {
      height: 70px;
    }
    .title {
      font-size: 24px; 
      padding: 10px;
    }
    .subtitle, .subtitleimg, .floatingsubtitle {
      font-size: 18px;
      padding: 5px;
    }
    .body {
      font-size: 14px; 
      padding: 15px;
    }
    .floatingbody {
      font-size: 10px; 
      color: #F5EBB8;
      background-color: rgba(89, 89, 54, 0.8);
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .floatingtitle:hover, .floatingsubtitle:hover {
      font-size: 26px; 
    }
    .imageintext {
      height: auto; 
      padding: 0px;
    }
    .imageintext img {
      width: auto; 
      max-height: 200px; 
    }
    .fixed-background {
      height: 100vh; 
    }
    .click-message {
      position: absolute; 
      bottom: 50px;
      left: 50%; 
      transform: translateX(-50%); 
      font-size: 14px; 
    }
  }
  

